* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: url(../image/bg.jpg) no-repeat top center;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  height: 1.325rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

header .weather {
  position: absolute;
  left: .975rem;
  top: 2%;
  display: flex;
  align-items: center;
}

header .weather span {
  margin: 0 5px;
}

header h1 {
  position: absolute;
  left: 18.8375rem;
  top: 5%;
  color: #fff;
  text-align: center;
  font-size: .9rem;
}

header .date {
  position: absolute;
  right: 1.5rem;
  top: 2%;
}

header div {
  color: #12f7ff;
  font-size: .4rem;
  text-align: left;
  line-height: 1.325rem;
}

section {
  height: 2.7125rem;
  margin: 1.15rem 1.125rem .85rem .95rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .count {
  display: flex;
  align-items: center;
  margin: 0 .775rem 0 0;
}

section .count img {
  height: 2.7125rem;
  display: inline-block;
}

section .count .right {
  margin: .4625rem 0 0 .3375rem;
}

section .count .right .unit {
  color: #fff;
  font-size: .35rem;
}

section .count .right .num {
  color: #33ccff;
  margin-top: .2rem;
  font-size: .7rem;
  font-weight: bold;
}

.bd {
  height: 19.5625rem;
  margin: 0 .9375rem 1.45rem .75rem;
  display: flex;
}

.bd .list {
  flex: 1;
  height: 10.025rem;
  margin: 0 .6rem;
}

.bd .list h2 {
  color: #33ccff;
  border-bottom: #33ccff 2px solid;
  padding-bottom: .5rem;
  height: 1.15rem;
  font-size: .6rem;
}

.bd .list .top, .bd .list .bot {
  display: flex;
  height: 8.0625rem;
}

.bd .list .top .panel, .bd .list .bot .panel {
  flex: 1;
  height: 26rem;
  margin: .9rem 1.025rem 0 0;
}

.bd .list .top .panel .title, .bd .list .bot .panel .title {
  display: flex;
  height: .7125rem;
}

.bd .list .top .panel .title .tiao, .bd .list .bot .panel .title .tiao {
  width: .125rem;
  background-color: #fff;
  margin-right: .275rem;
  border-radius: .2rem;
}

.bd .list .top .panel .title h3, .bd .list .bot .panel .title h3 {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: .425rem;
}

.bd .list .top .panel .title h3 .change, .bd .list .bot .panel .title h3 .change {
  margin-left: 3.625rem;
}

.bd .list .top .panel .title h3 .change a, .bd .list .bot .panel .title h3 .change a {
  width: 1.6rem;
  height: .7rem;
  display: inline-block;
  border-radius: 1rem;
  line-height: .7rem;
  text-align: center;
  font-size: .3rem;
}

.bd .list .top .panel .title h3 .change .bar1, .bd .list .bot .panel .title h3 .change .bar1 {
  color: #6674ae;
  border: 1px solid #6674ae;
}

.bd .list .top .panel .title h3 .change .line1, .bd .list .bot .panel .title h3 .change .line1 {
  color: #0f3e86;
  border: 1px solid #0f3e86;
}

.bd .list .top .panel .title h3 .change .bar2, .bd .list .bot .panel .title h3 .change .bar2 {
  color: #6674ae;
  border: 1px solid #6674ae;
}

.bd .list .top .panel .title h3 .change .line2, .bd .list .bot .panel .title h3 .change .line2 {
  color: #0f3e86;
  border: 1px solid #0f3e86;
}

.bd .list .top .panel .title h3 .change .bar3, .bd .list .bot .panel .title h3 .change .bar3 {
  color: #6674ae;
  border: 1px solid #6674ae;
}

.bd .list .top .panel .title h3 .change .line3, .bd .list .bot .panel .title h3 .change .line3 {
  color: #0f3e86;
  border: 1px solid #0f3e86;
}

.bd .list .top .panel .chart, .bd .list .bot .panel .chart {
  height: 6.625rem;
  margin-top: .775rem;
}

.bd .list .bot {
  margin-top: .775rem;
}
